<h2><%= @instrument.name %></h2>

<hr />
<h3>Data download</h3>
<ul>
<li><a rel='nofollow' href='//api.fxhistoricaldata.com/indicators?instruments=<%= @instrument.name %>&expression=open,high,low,close&item_count=10000&format=csv&timeframe=hour'>Hourly</a></li>
<li><a rel='nofollow' href='//api.fxhistoricaldata.com/indicators?instruments=<%= @instrument.name %>&expression=open,high,low,close&item_count=10000&format=csv&timeframe=hour'>Daily</a></li>
</ul>
<hr />
