<h2><%= @instrument.name %></h2>

<hr />
<h3>Data download</h3>
<ul>
<li><a href='/download/<%= @instrument.name %>?t=hour'>Hourly</a></li>
<li><a href='/download/<%= @instrument.name %>?t=day'>Daily</a></li>
</ul>
<hr />
